{% extends 'layout.twig' %}


{% block body %}

<div class="card mx-auto">
  <div class="card-body">
    <form action="{{ path('auth.register') }} " method="post">
      {{ csrf_input() }}
      {{ field('username', user.username, 'Nom d\'utilisateur') }}
      {{ field('email', user.email, "Email", {type: 'email'}) }}
      {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
      {{ field('password_confirm', null, "Confirmer le mot de passe", {type: 'password'}) }}
      {{ field('connect', null, "Se connecter", {type: 'checkbox'}) }}
      <button class="btn btn-primary">S'enregistrer</button>
    </form>
  </div>
</div>

{% endblock %}
