{% extends 'layout.twig' %}

{% block title %}
	{% if category %}
		Categorie:
		{{ category.getName }}
		{% if page > 1 %}, page
			{{ page }}
		{% endif %}
	{% else %}
		Blog
		{% if page > 1 %}, page
			{{ page }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block body %}

	{% if category %}
		<h1>Categorie:
			{{ category.getName }}
			{% if page > 1 %}, page
				{{ page }}
			{% endif %}
		</h1>
	{% else %}
		<h1>Bienvenue sur le blog
			{% if page > 1 %}, page
				{{ page }}
			{% endif %}
		</h1>
	{% endif %}

	<div class="row">
		<div class="col-md-9">
			{% for row in posts | batch(3) %}
				<div class="card-deck mb-4">
					{% for post in row %}
						<div class="card">
							{% if post.getCategory %}
								<div class="card-header">
									{{ post.getCategory.getName }}
								</div>
							{% endif %}
							{% if post.getImage %}
							<img src="{{ post.getThumb }}" alt="{{ post.getName }} " style="width: 100%;">
							{% endif %}
							<div class="card-body">
								<h4 class="card-title">
									<a href="{{ path('blog.show', {slug: post.getSlug, id: post.getId}) }}">
										{{ post.name }}
									</a>
								</h4>
								<p class="card-text">
									{{ post.getContent | excerpt | nl2br }}
								</p>
								<p class="text-muted">
									{{ post.getCreatedAt | ago }}
								</p>

							</div>
							<div class="card-footer">
								<a href="{{ path('blog.show', {slug: post.getSlug, id: post.getId}) }}" class="btn btn-primary">
									Voir l'article
								</a>
								<a href="{{ path('blog.postShow', {category_id: post.getCategory.getId, id: post.getId}) }}" class="btn btn-primary">
									Voir l'article
								</a>
								<a href="{{ path('blog.postCategoryShow', {category_slug: post.getCategory.getSlug, id: post.getId}) }}" class="btn btn-primary">
									Voir l'article
								</a>
								<a href="{{ path('blog.showPost', {id: post.getId}) }}" class="btn btn-primary">
									Article Doctrine
								</a>
							</div>
						</div>
					{% endfor %}

				</div>
			{% endfor %}

			{% if category %}
				{{ paginate(posts, 'blog.category', {slug: category.getSlug}) }}
			{% else %}
				{{ paginate(posts, 'blog.index') }}
			{% endif %}

		</div>
		<div class="col-md-3">
			<ul class="list-group">
        {% for c in categories %}
				<li class="list-group-item {% if c.getId == category.getId %} active {% endif %}">
						<a style="color:inherit" href="{{ path('blog.category', {slug: c.getSlug}) }}">
							{{ c.getName }}
						</a>
					</li>
				  {% endfor %}
			</ul>
		</div>

	</div>

{% endblock %}
