{% extends 'layout.twig' %}

{% block title post.name %}

{% block body %}

<h1>{{ post.name }}</h1>

<p class="text-muted"> 
{% if post.getCategory.getId %}
  <a href="{{ path('blog.category', {slug: post.getCategory.getSlug}) }}" title="{{ post.getCategory.getName }}">
    {{ post.getCategory.getName }}
  </a>
{% endif %}
{{ post.getCreatedAt | ago }}
</p>

<p>
  {% if post.getImage %}
  <img src="{{ post.getImageUrl }}" alt="{{ post.getName }} " style="max-width:100%;">
  {% endif %}  
</p>

<p>
{{ post.getContent | nl2br }}
</p>
{% endblock %}