{% extends 'layout.twig' %}

{% block body %}

  <h1>Mon compte</h1>

  <form action="" method="post">
    {{ csrf_input() }}
    {{ field('username', user.getUsername(), 'username') }}
    {{ field('firstname', user.getFirstname(), 'Prénom') }}
    {{ field('lastname', user.getLastname(), 'Nom') }}
    <p>Laissez vide pour ne rien changer</p>
    {{ field('email', user.getEmail(), 'Email', {type: 'email'}) }}

    <h2>Changer de mot de passe</h2>
    <p>Laissez vide pour ne rien changer</p>
    {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
    {{ field('password_confirm', null, 'Confirmer le mot de passe', {type: 'password'}) }}
    <button class="btn btn-primary">Modifier mes informations</button>
  </form>


{% endblock %}